.btn {
    margin-bottom: 10px;
}

.jumbotron {
    padding-bottom: 15px;
    padding-top: 1px;
    text-align: center;
}

.thumbnail {
    width: 100%;
}

.row {
    text-align: center;
}

body {
    background-color: #50489D;
}

h3 {
    margin-top: -15px;
}

h4 {
    color: #50489D;
    font-size: 20px;
}

h2 {
    margin-bottom: 35px;
    margin-top: -5px;
    font-size: 45px;
    text-decoration: underline;
    text-align: center;
}
.well {
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 0px;
}

.col-sm-4 {
    padding-bottom: 10px;
}